<!DOCTYPE html>
head
  title Ovrture
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet", type="text/css", href="./css/site.combined.min.css")
  
body
  section.section
    .container
      h1.title
        | Hello World
      p.subtitle
        | My first website with 
        strong Bulma
        | !
