doctype html
html
  head
    title Test
    link(rel="stylesheet", type="text/css", href="./css/"+vars.name.siteCss)
    
  body
    p Lorem ipsum dolor sit amet...
    
    script(async, type="text/javascript", src="./js/"+vars.name.siteJs)
